*{
    margin: 1;
    padding: 0;
}

.wrapper{
    display: grid;
    gap: 2px;
    border-radius: 10px;
}

.header{
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

.item{
    background-color: lightblue;
    border: 2px solid black;    
    border-radius: 10px;
}

.data{
    background-color: lightblue;
    border: 2px solid black;    
    border-radius: 10px;
}